<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:replace="fragments.html :: jquery_cdn"></script>
<link th:replace="fragments.html :: bootstrap_css"/>
<link th:replace="fragments.html :: bootstrap_icons"/>
<link th:replace="fragments.html :: datatable_css"/>
<title th:text="${title}"></title>
</head>
<body>

	<nav th:replace="fragments.html :: navbar" />

	<div class="container-fluid">
	</div>
	
	<div th:replace="fragments.html :: bootstrap_script"></div>
	<script th:replace="fragments.html :: datatable_js"></script>
	
<script>

</script>

</body>
</html>