<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:replace="fragments.html :: jquery_cdn"></script>
<link th:replace="fragments.html :: bootstrap_css"/>
<link th:replace="fragments.html :: bootstrap_icons"/>
<link th:replace="fragments.html :: datatable_css"/>
<title th:text="${title}"></title>
</head>
<body>

	<nav th:replace="fragments.html :: navbar" />

	<div class="container-fluid mt-4">
	
		<div class="container">
			<div class="row"><h4>Download Splitted Documents</h4></div>
			<div class="row justify-content-center mt-3">
				<div class="col-lg-12 text-center">
					<table class="table" id="pdfTable">
						<thead>
					    	<tr>
							<th scope="col">ID</th>
					    	<th scope="col">Name</th>
					    	<th scope="col">Creation Date</th>
					    	<th scope="col">Pages</th>
					    	<th scope="col">Download</th>
					    	</tr>
						</thead>
						<tbody>
					    <tr th:each="doc : ${documents}">
					      <th scope="row" id="id" th:text="${doc.id}" ></th>
					      <td id="name" th:text="${doc.filename}"></td>
					      <td id="role" th:text="${doc.insertDate}"></td>
					      <td id="pages" th:text="${doc.numberOfPages}"></td>
					      <td><a th:id="${doc.id}" class="bi bi-cloud-download-fill text-primary" th:href="@{/api/rest/downloadPdf/}+${doc.id}"></a></td>
					    </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
	</div>
	
	<div class="container mt-5">
		<div class="row justify-content-center">
			<a th:href="@{/}" type="button" class="btn btn-link" aria-pressed="true">Back Home Page</a>
		</div>
	</div>
	
	<div th:replace="fragments.html :: bootstrap_script"></div>
	<script th:replace="fragments.html :: datatable_js"></script>
	
<script>

$(document).ready(function() {
	
	$('#pdfTable').DataTable();
}); 

</script>

</body>
</html>