<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:replace="fragments.html :: jquery_cdn"></script>
<link th:replace="fragments.html :: bootstrap_css"/>
<link th:replace="fragments.html :: bootstrap_icons"/>
<title th:text="${title}"></title>

<style>
	fieldset {
		display: block;
		margin-left: 2px;
		margin-right: 2px;
		padding-top: 0.35em;
		padding-bottom: 0.625em;
		padding-left: 0.75em;
		padding-right: 0.75em;
		border: 2px solid #0275d8;
		border-radius:8px;
	}
</style>
</head>
<body>

	<nav th:replace="fragments.html :: navbar" />
	
	<div class="container mt-5 justify-content-center">
		<div class="row">
			<fieldset class="col-md-12 form-inline justify-content-center">
				<legend class="form-inline font-italic"> PDF Info:</legend>
					<div class="col-md-3">
						<h5 th:text="|File: ${filename}|" />
					</div>
					<div class="col-md-3">
						<h5 th:text="|Number Of Pages: ${numPages}|" />
					</div>
			</fieldset>
		</div>

		<div class="row justify-content-center mt-5">
			<div class="col-md-12">	
				<div id="errorMsg" class="alert alert-danger" role="alert" style="display: none;"> Something went wrong, please check the data </div>
			</div>
		</div>

		<div class="row justify-content-center align-items-center">
			<div class="col-md-4">
				<label for="splitIndex">Split at: </label>
				<input type="text" class="form-control" id="splitIndex" placeholder="Insert page of splitting">
				<small id="idEmployeelHelp" class="form-text text-muted">The page of splitting must be smaller or equals to pdf length</small>
			</div>
			<div class="col-md-2 ml-2">
				<button id="splitBtn" class="btn btn-outline-primary">Split</button>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments.html :: bootstrap_script"></div>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<a th:href="@{/}" type="button" class="btn btn-link" aria-pressed="true">Back Home Page</a>
		</div>
	</div>
	
<script>

$(document).ready(function() {
	var splitFileRestUrl = "/pdf-web-app/api/rest/splitFile";
	var pdfId = [[ ${id} ]];
	var $errorMsg = $("#errorMsg");
	var $splitBtn = $("#splitBtn");
	var $splitIndex = $("#splitIndex");

	function showErrorMessage() {
		$errorMsg.css({"display": ""});
	};
	
	function changeLocation(ids) {
		console.log(ids);
		const url = new URL('http://localhost:8080/pdf-web-app/downloadSplitted');
		var count = 0;
		ids.map(id => {
			++count;
			url.searchParams.set('id' + count, id);
		});
		window.location = url;
	};

	function evaluateResponse(res) {
		const result = res.result;
		const data = res.data;
		if(result) {
			changeLocation(data);
		}
		else {
			showErrorMessage();
		}
	};

	function ajaxRequest() {
		var data = {
				id: pdfId,
				splitIndex: $splitIndex.val(),
		}

		$.ajax({
			type: "POST",  
			url: splitFileRestUrl,
			dataType: "json",
			contentType: "application/json",
			data: JSON.stringify(data),
			success: function(res) {
			evaluateResponse(res);
			},
			error: function(response) { 
				alert("Error: " + response.status); 
			}       
		});
	};
	
	function validateInput(id) {
		if(id && id > 0)
			return true;
		else
			return false;
	};
	
	$splitBtn.click(() => {
		$errorMsg.css({"display": "none"});
		if(validateInput($splitIndex.val()))
			ajaxRequest();
		else
			showErrorMessage();
	});
	
	$splitIndex.keypress((event) => {
		$errorMsg.css({"display": "none"});
		var keycode = (event.keyCode ? event.keyCode : event.which)
		if(keycode == 13) {
			if(validateInput($splitIndex.val()))
				ajaxRequest();
			else
				showErrorMessage();
		}
	});
	
});

</script>

</body>
</html>