<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:replace="fragments.html :: jquery_cdn"></script>
<link th:replace="fragments.html :: bootstrap_css"/>
<link th:replace="fragments.html :: bootstrap_icons"/>
<title th:text="${title}"></title>
<style th:replace="fragments.html :: fieldset_style"/>
</head>
<body>

	<nav th:replace="fragments.html :: navbar" />
	
	<div class="container mt-5 justify-content-center">
	
		<div class="row justify-content-center">
			<div class="col-md-12">	
				<div id="errorMsg" class="alert alert-danger" role="alert" style="display: none;"> Something went wrong, please check the data </div>
			</div>
		</div>
		
		<div class="d-flex justify-content-center align-items-center">
			<div class="d-flex flex-column align-items-center px-3 py-3">
				<fieldset>
					<legend class="font-italic">PDF info:</legend>
					<div class="d-flex flex-column align-items-center px-3 py-3">
						<h5 th:text="|File: ${filename}|" />
						<h5 th:text="|Number Of Pages: ${numPages}|" />
						<h5 th:text="${id}" id="entryId" style="display: none">
					</div>
				</fieldset>
			</div>
			<div class="d-flex flex-column align-items-center px-3 py-3">
				<fieldset>
					<legend class="font-italic">Split Settings:</legend>
						<div class="d-flex flex-column justify-content-center px-3 py-3">
							<div class="mb-2">
								<input type="text" class="form-control" id="splitIndex" placeholder="Insert page of splitting">
								<small id="splitIndexHelp" class="form-text text-muted">The page of splitting must be smaller or equals to pdf length</small>
							</div>
							<button id="splitBtn" class="btn btn-outline-primary">Split</button>
						</div>
				</fieldset>
			</div>
		</div>
		
		<div class="row justify-content-center mt-5">
			<a th:href="@{/}" type="button" class="btn btn-link" aria-pressed="true">Back Home Page</a>
		</div>
		
	</div>
	
	
	
	<div th:replace="fragments.html :: bootstrap_script"></div>
	
<script>

$(document).ready(function() {
	var splitDocumentRestUrl = "/pdf-web-app/api/rest/splitDocument";
	var $pdfId = $("#entryId").text();
	var $errorMsg = $("#errorMsg");
	var $splitBtn = $("#splitBtn");
	var $splitIndex = $("#splitIndex");
	var numPages = [[ ${numPages} ]];
	
	function showErrorMessage() {
		$errorMsg.css({"display": ""});
	};
	
	function changeLocation(ids) {
		console.log(ids);
		const url = new URL('http://localhost:8080/pdf-web-app/downloadDocuments');
		var count = 0;
		ids.map(id => {
			++count;
			url.searchParams.set('id' + count, id);
		});
		window.location = url;
	};

	function evaluateResponse(res) {
		const result = res.result;
		const data = res.data;
		if(result) {
			changeLocation(data);
		}
		else {
			showErrorMessage();
		}
	};

	function ajaxRequest() {
		var data = {
				id: $pdfId,
				splitIndex: $splitIndex.val(),
		}

		$.ajax({
			type: "POST",  
			url: splitDocumentRestUrl,
			dataType: "json",
			contentType: "application/json",
			data: JSON.stringify(data),
			success: function(res) {
			evaluateResponse(res);
			},
			error: function(response) { 
				alert("Error: " + response.status); 
			}       
		});
	};
	
	function validateInput(splitIndex) {
		if(splitIndex && splitIndex > 0 && splitIndex < numPages)
			return true;
		else
			return false;
	};
	
	$splitBtn.click(() => {
		$errorMsg.css({"display": "none"});
		if(validateInput($splitIndex.val()))
			ajaxRequest();
		else
			showErrorMessage();
	});
	
	$splitIndex.keypress((event) => {
		$errorMsg.css({"display": "none"});
		var keycode = (event.keyCode ? event.keyCode : event.which)
		if(keycode == 13) {
			if(validateInput($splitIndex.val()))
				ajaxRequest();
			else
				showErrorMessage();
		}
	});

});

</script>

</body>
</html>