<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:replace="fragments.html :: jquery_cdn"></script>
<link th:replace="fragments.html :: bootstrap_css"/>
<link th:replace="fragments.html :: bootstrap_icons"/>
<title th:text="${title}"></title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  	<div class="collapse navbar-collapse">
	    	<a class="navbar-brand mr-4 align-items-center" th:href="@{/}">
				<i class="bi bi-file-earmark-pdf text-danger" style="font-size:32px;"></i>
				<span>PDF</span>
	    	</a>
	    	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      		<li class="nav-item disable">
	        		<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item disable">
	        		<a class="nav-link" href="#">Link</a>
	      		</li>
	    	</ul>
	    </div>
	</nav>

	<div class="container-fluid">
		<h1 class="text-white font-italic"> NAVBAR </h1>
		
		<div class="container mt-3">
			<div class="row justify-content-center">
				<h1 class="display-3">PDF Web Utils</h1>
			</div>
			<div class="row justify-content-center mt-5">
				<span><img src="PDF_file_icon.svg" alt="Error Image" width="240" height="240"/></span>
			</div>
		</div>
	</div>

	<div th:replace="fragments.html :: bootstrap_script"></div>

<script>

</script>

</body>
</html>