<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:replace="fragments.html :: jquery_cdn"></script>
<link th:replace="fragments.html :: bootstrap_css"/>
<link th:replace="fragments.html :: bootstrap_icons"/>
<title th:text="${title}"></title>
<style th:replace="fragments.html :: fieldset_style"/>
</head>
<body>

	<nav th:replace="fragments.html :: navbar" />
	
	<div class="container mt-5">
	
		<div class="row justify-content-center">
			<div class="col-md-12">	
				<div id="errorMsg" class="alert alert-danger" role="alert" style="display: none;"> Something went wrong, please check the data </div>
			</div>
		</div>
	
		<div class="row justify-content-center">
			<fieldset  class="px-3 py-3">
				<legend class="font-italic">Upload files:</legend>
					<div th:insert="fragments.html :: uploadFileForm" id="file1"/>
					<div th:insert="fragments.html :: uploadFileForm" id="file2" />
					<div class="row justify-content-center">
						<button id="mergeBtn" class="btn btn-outline-primary">Merge</button>
					</div>
			</fieldset>
		</div>
		<div class="row justify-content-center mt-5">
			<a th:href="@{/}" type="button" class="btn btn-link" aria-pressed="true">Back Home Page</a>
		</div>
	</div>
	
	<div th:replace="fragments.html :: bootstrap_script"></div>

<script>

$(document).ready(() => {
	const uploadFileRestUrl = '/pdf-web-app/api/rest/uploadFile';
	const mergeDocumentsRestUrl = '/pdf-web-app/api/rest/mergeDocuments';
	const $errorMsg = $("#errorMsg");
	const $uploadBtn = $("button[type|='submit']");
	const $mergeBtn = $("#mergeBtn");
	const documentCounter = 0;

	$('form').submit((event) => {
	    event.preventDefault();
	});

	
	const ids = [];

	const showErrorMessage = () => {
		$errorMsg.css({"display": ""});
	}
	
	const validateInput = (ids) => {
		if(ids.length == 2)
			return true;
		else
			return false;
	};
	
	const evaluateUpload = (res,fileId) => {
		const result = res.result;
		const data = res.data;
		if(result) {
			console.log('fileId', fileId);
			ids[fileId]=data;
			console.log('ids:', ids);
		}
		else {
			showErrorMessage();
		}
	};

	const ajaxUploadFileRequest = (file, fileId) => {
		console.log(file);
		let data = new FormData();
		data.append('file',file);
		
		$.ajax({
			type: "POST",  
			url: uploadFileRestUrl,
			contentType: false,
			processData: false,
			data: data,
			success: function(res) {
				evaluateUpload(res, fileId);
			},
			error: function(response) { 
				alert("Error: " + response.status); 
			}       
		});
	};
	
	const ajaxMergeDocumentsRequest = () => {
		const requestParams = {};
		ids.forEach((el, index) => {
			requestParams['id'+(index+1)]=el;
		});
		
		$.ajax({
			type: "GET",  
			url: mergeDocumentsRestUrl,
			dataType: "json",
			contentType: "application/json",
			data: requestParams,
			success: function(res) {
				let restResult = res.result;
				let data = res.data
				if(restResult)
					changeLocation(data);
				else
					showErrorMessage();
			},
			error: function(response) { 
				alert("Error: " + response.status); 
			}       
		});
	};
		
	const changeLocation = (id) => {
		console.log('recivedId:', id);
		const url = new URL('http://localhost:8080/pdf-web-app/downloadDocuments');
		let count = 0;
		url.searchParams.set('id', id);
		window.location = url;
	};
	
	$uploadBtn.click((e) => {
		//console.log(e);
		//console.log(document.getElementById("uploadFileInput").files[0]);
		$errorMsg.css({"display": "none"});
		const fileId = e.target.form.parentElement.id.substring(4,5) - 1;
		ajaxUploadFileRequest(e.currentTarget.form[0].files[0], fileId);
	});
	
	$mergeBtn.click(() => {
		$errorMsg.css({"display": "none"});
		if(validateInput(ids)) {
			ajaxMergeDocumentsRequest();
		}
		else
			showErrorMessage();
	});
});

</script>

</body>
</html>