<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:replace="fragments.html :: jquery_cdn"></script>
<link th:replace="fragments.html :: bootstrap_css"/>
<link th:replace="fragments.html :: bootstrap_icons"/>
<title th:text="${title}"></title>
<style th:replace="fragments.html :: fieldset_style"/>
</head>
<body>

	<nav th:replace="fragments.html :: navbar" />
	
	<div class="container mt-5">
	
		<div class="row justify-content-center">
			<div class="col-md-12">	
				<div id="errorMsg" class="alert alert-danger" role="alert" style="display: none;"> Something went wrong, please check the data </div>
			</div>
		</div>
	
		<div class="row justify-content-center">
			<fieldset  class="px-3 py-3">
				<legend class="font-italic">Upload files:</legend>
					<div th:replace="fragments.html :: uploadFileForm" />
					<div th:replace="fragments.html :: uploadFileForm" />
					<div class="row justify-content-center">
						<button id="mergeBtn" class="btn btn-outline-primary">Merge</button>
					</div>
			</fieldset>
		</div>
		<div class="row justify-content-center mt-5">
			<a th:href="@{/}" type="button" class="btn btn-link" aria-pressed="true">Back Home Page</a>
		</div>
	</div>
	
	<div th:replace="fragments.html :: bootstrap_script"></div>

<script>

$(document).ready(() => {
	const uploadFileRestUrl = '/pdf-web-app/api/rest/uploadFile';
	const $errorMsg = $("#errorMsg");
	const $uploadBtn = $("button");
	const $mergeBtn = $("#mergeBtn");

	$('form').submit((event) => {
	    event.preventDefault();
	});

	
	const ids = [];

	const showErrorMessage = () => {
		$errorMsg.css({"display": ""});
	}
	
	const validateInput = (ids) => {
		if(ids.length == 2)
			return true;
		else
			return false;
	};
	
	const evaluateResponse = (res) => {
		const result = res.result;
		const data = res.data;
		if(result) {
			//ad id of entry in ids array
			console.log('response result:', result);
		}
		else {
			showErrorMessage();
		}
	};

	const ajaxRequest = (file) => {
		console.log(file);
		let data = new FormData();
		data.append('file',file);
		
		$.ajax({
			type: "POST",  
			url: uploadFileRestUrl,
			dataType: "json",
			contentType: false,
			processData: false,
			data: data,
			success: function(res) {
			evaluateResponse(res);
			},
			error: function(response) { 
				alert("Error: " + response.status); 
			}       
		});
	};
		
	const changeLocation = (ids) => {
		console.log(ids);
		const url = new URL('http://localhost:8080/pdf-web-app/downloadDocuments');
		let count = 0;
		ids.map(id => {
			++count;
			url.searchParams.set('id' + count, id);
		});
		window.location = url;
	};
	
	$uploadBtn.click((e) => {
		//console.log(document.getElementById("uploadFileInput").files[0]);
		$errorMsg.css({"display": "none"});
		ajaxRequest(e.currentTarget.form[0].files[0]);
	});
	
	$mergeBtn.click(() => {
		$errorMsg.css({"display": "none"});
		if(validateInput(ids)) {
			//call a rest with the two ids for start the merge.
			//then take the rest response, the entry id of the merged document and pass it to change location
			changeLocation(ids);
		}
		else
			showErrorMessage();
	});
});

</script>

</body>
</html>