<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:replace="fragments.html :: jquery_cdn"></script>
<link th:replace="fragments.html :: bootstrap_css"/>
<link th:replace="fragments.html :: bootstrap_icons"/>
<title th:text="${title}"></title>
<style th:replace="fragments.html :: fieldset_style"/>
</head>
<body>

	<nav th:replace="fragments.html :: navbar" />
	
	<div class="container mt-5">
		<div class="row justify-content-center">
			<fieldset class="px-3 py-3">
				<legend class="font-italic">Upload file:</legend>
				<form method="POST" th:action="@{/mongoEditSplit}" class="form-group" enctype="multipart/form-data">
					<div class="form-row align-items-center">
						<div class="form-group col-md-9">
					    	<input type="file" name="file" class="form-control-file" id="uploadFileInput" accept=".pdf">
						</div>
						<div class="form-group col-md-3">
					  		<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Upload</button>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
		<div class="row justify-content-center mt-5">
			<a th:href="@{/}" type="button" class="btn btn-link" aria-pressed="true">Back Home Page</a>
		</div>
	</div>
	
	<div th:replace="fragments.html :: bootstrap_script"></div>

<script>
 
</script>

</body>
</html>