<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:replace="fragments.html :: jquery_cdn"></script>
<link th:replace="fragments.html :: bootstrap_css"/>
<link th:replace="fragments.html :: bootstrap_icons"/>
<title th:text="${title}"></title>
<style th:replace="fragments.html :: fieldset_style"/>
</head>
<body>

	<nav th:replace="fragments.html :: navbar" />
	
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div th:replace="fragments.html :: uploadFileForm" />
		</div>
		<div class="row justify-content-center mt-5">
			<a th:href="@{/}" type="button" class="btn btn-link" aria-pressed="true">Back Home Page</a>
		</div>
	</div>
	
	<div th:replace="fragments.html :: bootstrap_script"></div>

<script>
</script>

</body>
</html>